@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100%;
    /* this is equivalent to Tailwind's neutral-800 & neutral-950 */
    background: radial-gradient(ellipse at bottom, #262626 0%, #0a0a0a 100%);
    overflow: hidden;
    @apply text-gray-100 subpixel-antialiased;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}
